.container{
    display: contents;
}

.lesson h1{
    display: none;
}

.lesson .ratings{
    grid-area: ratings;
}

.lesson .students{
    display: grid;
    grid-template-columns: repeat(var(--columnCount), 1fr);
    grid-template-rows: repeat(var(--rowCount), 1fr);
    grid-area: students;
    grid-gap: 0.1em;
}

.lesson{
    display: grid;
    grid-template-rows: 2em 1fr;
    grid-template-columns: 1fr 20vw;
    height: 100vh;
    grid-template-areas: "menu menu" "students ratings";
    overflow: clip;
}

.lesson .MenuBar{
    grid-area: menu;
}

