code{
    background-color: #111;
    color: #eee;
}

@media (orientation: landscape) {
    #welcomePage{
        width: max(50%, 800px);
        margin: auto;
    }

    #logo{
        position: fixed;
        left: 0;
        top: 0;
        width: calc((100% - max(50%, 800px)) / 2 - 20px);
    }
}

@media (orientation: portrait) {
    #welcomePage {
        padding: 0 1em;
    }

    #logo {
        width: 100%;
    }
}